# Get your API key from https://ipdata.co
API_KEY=

# Optional
APP_NAME=Show-IP.ir
APP_URL=https://show-ip.ir
APP_AUTHOR=Mostafa Mousavi
APP_AUTHOR_URL=https://mousavi.dev

# Set to false only if your server does not have a valid CA bundle (not recommended)
IPDATA_VERIFY_SSL=true
IPDATA_TIMEOUT=15
